.change-password-form__email-field,
.change-password-form__old-password-field,
.change-password-form__new-password-field {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.change-password-form__submit {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  width: 140px;
  height: 40px;
  border-radius: 5px;
  padding: 0;
  border: none;
  background-color: #169bd5;
  color: #fff;
}
