.change-password-form__field-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.change-password-form__label {
  margin-right: 10px;
}
.change-password-form__field {
  flex-grow: 1;
}

.change-password-form__submit-btn {
  display: block;
  margin-left: auto;
  padding: 0 15px;
  height: 40px;
  border: none;
  border-radius: 20px;

  background: linear-gradient(
    to bottom,
    var(--color-decorative-light),
    var(--color-decorative-dark)
  );
  color: #000;
  transition-duration: 0.3s;
}

.change-password-form__submit-btn:hover,
.change-password-form__submit-btn:focus {
  opacity: 0.8;
}
.change-password-form__submit-btn:active {
  opacity: 0.4;
}
