.note__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.note__description {
  margin: 0;
}

.note__btn--del {
  padding: 0;
  border: 0;
  background-color: transparent;
}

.note__btn--del img {
  transition-duration: 0.3s;
}
.note__btn--del:hover img,
.note__btn--del:focus img {
  opacity: 0.7;
}
