.notes-page__add-note-btn {
  position: relative;
  padding: 0 35px 0 15px;
  height: 40px;
  border: none;
  border-radius: 20px;

  background: linear-gradient(
    to bottom,
    var(--color-decorative-light),
    var(--color-decorative-dark)
  );
  color: #000;
  transition-duration: 0.3s;
}

.notes-page__add-note-btn::before {
  content: '';
  position: absolute;
  top: 13px;
  right: 15px;
  width: 15px;
  height: 15px;
  background-image: url('../../assets/img/add-task.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
}

.notes-page__add-note-btn:hover,
.notes-page__add-note-btn:focus {
  opacity: 0.8;
}
.notes-page__add-note-btn:active {
  opacity: 0.4;
}
