.list--notes {
  margin: 0;
  margin-top: 30px;
  padding: 0;
  list-style: none;
}
.list__item {
  min-height: 50px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 10px;
  padding-bottom: 15px;
  white-space: pre-wrap;
  border: 1px solid var(--color-neutral);
  border-radius: 10px;
  cursor: pointer;
  /* Не удобно, потому что нельзя скопировать текст заметки, не войдя в режим редактирования */
  user-select: none;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}

.list__item:hover {
  background-color: var(--color-gray-extralight);
  transition-duration: 0.3s;
}
