.delete-account-form__field-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.delete-account-form__field-wrapper .field-with-error-wrapper {
  flex-grow: 1;
}

.delete-account-form__label {
  margin-right: 10px;
}

.delete-account-form__btn {
  display: block;
  margin-left: auto;
  padding: 0 15px;
  height: 40px;
  border: none;
  border-radius: 20px;

  background: linear-gradient(
    to bottom,
    var(--color-decorative-light),
    var(--color-decorative-dark)
  );
  color: #000;
  transition-duration: 0.3s;
}

.delete-account-form__btn:hover,
.delete-account-form__btn:focus {
  opacity: 0.8;
}
.delete-account-form__btn:active {
  opacity: 0.4;
}
.delete-account-form__warning-text {
  display: block;
  margin-bottom: 20px;
}
.delete-account-form__btn-wrapper {
  display: flex;
  justify-content: flex-end;
}

.delete-account-form__agree-btn {
  margin-left: 0;
  margin-right: 15px;
}
.delete-account-form__disagree-btn {
  margin-left: 0;
  background: linear-gradient(180deg, var(--color-important), #750000);
  color: #fff;
}
