.table {
  width: 100%;
  text-align: center;
  border: 1px solid var(--color-neutral);
  border-collapse: collapse;
}
.table__headers {
  background-color: var(--color-neutral);
  color: #3e3e3e;
}
.table__header {
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  box-sizing: border-box;
}
.table__header--description {
  width: 330px;
}
.table__header--status,
.table__header--priority,
.table__header--action {
  width: 100px;
}
.table__header--planDate {
  width: 150px;
}
.table__header--actualDate {
  width: 180px;
}
.table__item {
  font-size: 16px;
  user-select: none;
  cursor: pointer;
}
.table__item:hover {
  background-color: var(--color-gray-extralight);
  transition-duration: 0.1s;
}
.table__item--done {
  color: rgb(124, 124, 124);
}
.table__item--done td {
  position: relative;
}

.table__item--done td::before {
  content: '';
  position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgb(124, 124, 124);
}
.table__item--done td:first-of-type:before {
  left: 5%;
  width: 95%;
}
.table__item--done td:last-of-type:before {
  content: none;
}
.table__item--done td:nth-last-of-type(2):before {
  width: 95%;
}
.table__item--important {
  font-weight: 700;
  color: var(--color-decorative-dark);
}
.table__item--expired {
  color: var(--color-important);
}
