.modal--todos {
  top: 30vh;
}
.todos-form__field-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.todos-form__fields-group-wrapper {
  display: flex;
  justify-content: space-between;
}

.todos-form__label {
  margin-right: 10px;
}
.todos-form__label-required {
  font-size: 13px;
  font-weight: 700;
  color: var(--color-important);
}
.todos-form__field {
  flex-grow: 1;
}
.todos-form__submit-btn {
  display: block;
  margin-left: auto;
  padding: 0 15px;
  height: 40px;
  border: none;
  border-radius: 20px;

  background: linear-gradient(
    to bottom,
    var(--color-decorative-light),
    var(--color-decorative-dark)
  );
  color: #000;
  transition-duration: 0.3s;
}

.todos-form__submit-btn:hover,
.todos-form__submit-btn:focus {
  opacity: 0.8;
}
.todos-form__submit-btn:active {
  opacity: 0.4;
}
