.modal--reset-password {
  top: 30vh;
  width: 500px;
  min-height: 300px;
  padding: 20px;
}

.reset-password-form__email-field {
  display: block;
  width: 100%;
  margin-bottom: 50px;
  box-sizing: border-box;
}

.reset-password-form__submit {
  display: block;
  margin-left: auto;
  width: 140px;
  height: 40px;
  border-radius: 5px;
  padding: 0;
  border: none;
  background-color: var(--color-secondary);
  color: #fff;
}

.modal--reset-password__sign-in-link {
  position: relative;
  color: var(--color-secondary);
  display: inline-block;
  margin-top: 50px;
}
.modal--reset-password__sign-in-link::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  bottom: -3px;
  left: 0;
  background-color: var(--color-secondary);
}
