.modal {
  background: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.modal__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: 700;
}
.modal__close {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 20px;
}
