.modal {
  position: absolute;
  width: 500px;
  padding: 30px 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}

.modal__title {
  margin: 0;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 700;
}
.modal__close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 0;
  background-color: transparent;
  transition-duration: 0.3s;
}
.modal__close:after,
.modal__close:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #000;
}
.modal__close:before {
  transform: rotate(-45deg);
}
.modal__close:after {
  transform: rotate(45deg);
}
.modal__close:hover,
.modal__close:focus {
  opacity: 0.8;
}
.modal__close:active {
  opacity: 0.4;
}
