.modal--sign-in {
  top: 30vh;
}
.sign-in-form {
  margin-bottom: 30px;
}
.sign-in-form__field-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.sign-in-form__field-wrapper--checkbox {
  justify-content: flex-start;
}

.sign-in-form__label {
  margin-right: 10px;
}
.sign-in-form__label-required {
  font-size: 13px;
  font-weight: 700;
  color: var(--color-important);
}
.sign-in-form__field {
  flex-grow: 1;
}

.sign-in-form__field--checkbox {
  cursor: pointer;
  flex-grow: 0;
}

.sign-in-form__submit-btn {
  position: relative;
  display: block;
  margin-left: auto;
  padding: 0 35px 0 15px;
  height: 40px;
  border: none;
  border-radius: 20px;

  background: linear-gradient(
    to bottom,
    var(--color-decorative-light),
    var(--color-decorative-dark)
  );
  color: #000;
  transition-duration: 0.3s;
}
.sign-in-form__submit-btn::before {
  content: '';
  position: absolute;
  top: 12px;
  right: 15px;
  width: 15px;
  height: 15px;
  background-image: url('../../../../assets/img/sign-in-icon.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
}
.sign-in-form__submit-btn:hover,
.sign-in-form__submit-btn:focus {
  opacity: 0.8;
}
.sign-in-form__submit-btn:active {
  opacity: 0.4;
}

.modal--sign-in__google-btn {
  position: relative;
  margin-bottom: 30px;
  padding: 0 40px 0 15px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #a0a0a0;
  border-radius: 20px;
  transition-duration: 0.3s;
}

.modal--sign-in__google-btn::before {
  content: '';
  position: absolute;
  top: 8px;
  right: 15px;
  width: 20px;
  height: 20px;
  background-image: url('../../../../assets/img/google-icon.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
}
.modal--sign-in__google-btn:hover,
.modal--sign-in__google-btn:focus {
  opacity: 0.8;
  border: 1px solid var(--color-decorative-dark);
}
.modal--sign-in__google-btn:active {
  opacity: 0.4;
  border: 1px solid var(--color-decorative-dark);
}

.modal--sign-in__go-to-sign-up,
.modal--sign-in__go-to-reset {
  display: block;
}
.modal--sign-in__go-to-reset {
  margin-bottom: 30px;
}

.modal--sign-in__link {
  position: relative;
  transition-duration: 0.3s;
}
.modal--sign-in__link::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  bottom: -3px;
  left: 0;
  background-color: var(--color-decorative-dark);
}

.modal--sign-in__link:hover,
.modal--sign-in__link:focus {
  opacity: 0.8;
}
.modal--sign-in__link:active {
  opacity: 0.4;
}
