.modal--notes {
  top: 25vh;
}

.notes-form .field-with-error-wrapper {
  margin-bottom: 20px;
}

.notes-form__label {
  display: block;
  margin-bottom: 5px;
}
.notes-form__label-required {
  font-size: 13px;
  font-weight: 700;
  color: var(--color-important);
}

.notes-form__field--description {
  height: 300px;
  resize: none;
  border: 1px solid #000;
}

.notes-form__submit-btn {
  display: block;
  margin-left: auto;
  padding: 0 15px;
  height: 40px;
  border: none;
  border-radius: 20px;

  background: linear-gradient(
    to bottom,
    var(--color-decorative-light),
    var(--color-decorative-dark)
  );
  color: #000;
  transition-duration: 0.3s;
}

.notes-form__submit-btn:hover,
.notes-form__submit-btn:focus {
  opacity: 0.8;
}
.notes-form__submit-btn:active {
  opacity: 0.4;
}
