.tooltip {
  opacity: 0;
  position: absolute;
  z-index: 10;
  top: 20px;
  left: -500px;
  transform: translateX(-50%);
  width: 1000px;
  padding: 20px;
  color: var(--color-important);
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(143, 16, 16, 0.2);
  box-sizing: border-box;
}

.tooltip__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 16px;
  height: 16px;
  padding: 0;
  border: 0;
  background-color: transparent;
  transition-duration: 0.3s;
}
.tooltip__close::after,
.tooltip__close::before {
  content: '';
  position: absolute;
  top: 7px;
  left: 0;
  width: 16px;
  height: 2px;
  background-color: var(--color-gray-dark);
}

.tooltip__close::before {
  transform: rotate(-45deg);
}
.tooltip__close::after {
  transform: rotate(45deg);
}
.tooltip__close:hover,
.tooltip__close:focus {
  opacity: 0.8;
}
.tooltip__close:active {
  opacity: 0.4;
}

.tooltip.entered {
  opacity: 1;
  animation: bounce 0.5s forwards;
}

.tooltip.exiting {
  animation: hideTooltip 0.5s;
}

@keyframes bounce {
  60% {
    left: 60%;
  }
  90% {
    left: 45%;
  }
  100% {
    left: 50%;
  }
}

@keyframes hideTooltip {
  0% {
    opacity: 1;
    left: 50%;
  }
}
